---
layout: compress
---
<!DOCTYPE HTML>
<!-- <html lang="en" class="sidebar-visible no-js"> -->
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="rtl theme-coal">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }} - The One Programming Language</title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#ffffff">
		<base href="">
		<!-- <link rel="stylesheet" type="text/css" href="reset.min.css"> -->
		<!-- <link rel="stylesheet" type="text/css" href="ltr.css"> -->
		<link rel="stylesheet" type="text/css" href="rtl.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="theme.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="favicon.png">
		<script src="https://kit.fontawesome.com/6c8a27f5f6.js" crossorigin="anonymous"></script>

		{% if page.external_url %}
		<link rel="canonical" href="{{ page.external_url }}">
		{% else %}
			{% if page.blogCanonical %}
			<link rel="canonical" href="{{ site.url }}/{{ page.blogCanonical }}">
			{% else %}
			<link rel="canonical" href="{{ site.url }}{{ page.url }}">
			{% endif %}
		{% endif %}
		{% if page.noindex %}
		<meta name="robots" content="noindex, nofollow">
		{% else %}
			{% if page.private %}
				{% if page.index %}
				{% else %}
				<meta name="robots" content="noindex, nofollow">
				{% endif %}
			{% endif %}
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ site.url }}/assets/favicon.ico">
	</head>
	<body>
		{{ content }}
		<div class="clear"></div>
		<br>
		<center>
			Powered by <b><a href="https://www.aterd.com/">Aterd co</a></b>
		</center>
		<br>
	</body>
</html>
